<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>DMS 321: simulation demo</title>
</head>
    
<body>

<h1>Are you sure that you want to restart?</h1>

<p>
<a href="<%= session.url %>/restart">Yes</a>
</p>

<p>
<a href="<%= session.url %>">No</a>
</p>

</body>

</html>
