<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>DMS 321: cookie survey results</title>
</head>

<body>

<p>
Hello, <%= name %>.
</p>

<p>
You said that Cookie Monster is <%= monster %>,
and that web cookies are <%= web %>.
Fascinating.
</p>

<p>
For reference, your session data looks like this:
</p>
<pre>
<%= sess %>
</pre>

</body>

</html>
