<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>DMS 321</title>
</head>

<body>
<p>
This page has been visited <%= visits %> times.
</p>
<% if (visits == 3) { %>
<p>You are lucky number 3!</p>
<% } %>
</body>

</html>
