<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>DMS 321: session demo</title>
</head>
    
<body>

<h1>Starting a session</h1>

<p>
I don't believe we've met.
</p>

<form action="/session/name" method="POST">
What is your name? <input type="text" name="name">
<br>
<input type="submit" value="start" id="submit">
</form>

</body>

</html>
