<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>DMS 321: session demo</title>
</head>

<body>

<p>
Hello, <%= name %>.
<p>
You have visited this page <%= visits %> times.
</p>
<p>
<a href="<%= url %>">Visit again</a>

</body>

</html>
